body {
    background-color: #1a1a1a;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 14px;
}

.container {
    padding: 10px;
}

h1, h3 {
    color: #fff;
    text-shadow: 0 0 5px #0f0;
    text-align: center;
}

/* Karakter Listesi */
#character-list {
    list-style: none;
    padding: 0;
}

#character-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #2a2a2a;
    border: 1px solid #0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#character-list li:hover {
    background-color: #0f0;
    color: #1a1a1a;
}

/* Ayırıcı */
.separator {
    height: 2px;
    background-color: #0f0;
    margin: 20px 0;
    box-shadow: 0 0 5px #0f0;
}

/* Not Defteri */
#notes-list-container {
    margin-bottom: 15px;
}

#notes-list {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #0f0;
    background-color: #222;
}

#notes-list li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #0a0;
}

#notes-list li:hover, #notes-list li.selected {
    background-color: #0f0;
    color: #1a1a1a;
}

#note-editor input, #note-editor textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    background-color: #2a2a2a;
    border: 1px solid #0f0;
    color: #fff;
    font-family: inherit;
}

#note-editor textarea {
    height: 100px;
    resize: vertical;
}

#note-controls {
    display: flex;
    justify-content: space-between;
}

#note-controls button {
    padding: 8px 12px;
    background-color: #2a2a2a;
    border: 1px solid #0f0;
    color: #0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#note-controls button:hover {
    background-color: #0f0;
    color: #1a1a1a;
}

#btn-delete-note {
    border-color: #f00;
    color: #f00;
}

#btn-delete-note:hover {
    background-color: #f00;
    color: #fff;
}
